{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "semi": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 100,
        "proseWrap": "always",
        "useTabs": true,
        "trailingComma": "none",
        "bracketSameLine": true
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "tailwindFunctions": ["clsx", "cn", "tv"]
}
