@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 64%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 360 74% 42%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 45%;

    --radius: 0.5rem;
  }

  body {
    /* Ensure that the body fills the entire viewport. */
    @apply min-h-dvh w-full;
  }
  html {
    @apply dark scroll-smooth bg-muted pb-[env(safe-area-inset-bottom)] pt-[env(safe-area-inset-top)] text-foreground;
  }

  * {
    @apply select-none;
  }

  *::-webkit-scrollbar {
    @apply hidden;
  }

  video {
    @apply pointer-events-none;
  }

  h1,
  h2,
  h3,
  h4 {
    /* Balance headings across multiple lines into an even block. */
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}
