---
const url = Astro.url.pathname;
---

<footer class="text-accent p-4 text-center">
  <div class="divide-accent mb-2 flex justify-center divide-x">
    <a href="https://minionah.com" target="_blank" rel="noopener" class="hover:text-muted-foreground px-4 underline-offset-2 transition-colors duration-300">MinionAH</a>
    <a href="/privacy-policy" class:list={["hover:text-muted-foreground px-4 underline-offset-2 transition-colors duration-300", url === "/privacy-policy" ? "underline" : ""]}>Privacy Policy</a>
    <a href="/terms-of-service" class:list={["hover:text-muted-foreground px-4 underline-offset-2 transition-colors duration-300", url === "/terms-of-service" ? "underline" : ""]}>Terms of Service</a>
  </div>
  &copy; {new Date().getFullYear()} MinionAH. All rights reserved.
</footer>
