---
import NavbarDropdown from "$lib/components/svelte/NavbarDropdown.svelte";
---

<nav class="select-none bg-secondary text-foreground max-md:fixed max-md:bottom-0 max-md:z-50 max-md:w-full">
  <div class="mx-auto max-w-7xl px-4 pb-[env(safe-area-inset-bottom)] pl-[max(0.5rem,env(safe-area-inset-left))] pr-[max(2rem,env(safe-area-inset-right))] pt-[env(safe-area-inset-top)] sm:px-6 lg:px-8">
    <div class="flex h-16 flex-row justify-between">
      <div class="flex flex-shrink-0 items-center">
        <NavbarDropdown client:idle />
      </div>
    </div>
  </div>
</nav>
