---
import HeaderLink from "$lib/components/HeaderLink.astro";
---
<nav id="nav" class="top-0 left-0 w-full h-14 z-[100] sticky saturate-[180%] backdrop-blur-[20px]">
  <div class="w-full px-6 sm:px-4 h-full flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a id="logo" href="/" class="text-white text-xl font-semibold duration-500 p-0 hover:opacity-50 transition-opacity m-0 no-underline hover:no-underline text-[1em] flex items-center ease-in-out">
      <img class="w-6 h-6 mr-2" src="/assets/favicons/favicon.png" alt="logo">
      </img>
      Newsroom
    </a>
    <div class="hidden sm:flex items-center lg:order-2 text-xs [line-height:1.33337] gap-4">
      <div class="flex items-center gap-1 duration-700 ease-in-out">
        <HeaderLink href="https://discord.minionah.com" target="_blank" rel="noopener" class="text-white font-light opacity-80 hover:opacity-100">Discord</a>
      </div>
      <div class="hidden sm:flex items-center gap-1 duration-700 ease-in-out">
        <HeaderLink href="https://minionah.com" target="_blank" rel="noopener" class="text-white font-light opacity-80 hover:opacity-100">MinionAH</a>
      </div>
    </div>
  </div>
</nav>

<style>
  #nav {
    background-color: rgba(19, 19, 19, 0.7);
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  }
</style>